@using Web_dat_phong_ks.Models
@{
    ViewBag.Title = "ChiTietPhong";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<br/>
<form>
    <div class="container" style="padding: 0">
        <div class="search-bar">
            <div class="row">
                <div class="col" style="border-right: 1px solid #e2e8f0">
                    <h1 class="search-bar-td">
                        Địa điểm
                    </h1>
                    <input class="search-bar-txt" type="text" placeholder="Khách sạn villa sông sài gòn" name="search_name">
                </div>
                <div class="col" style="border-right: 1px solid #e2e8f0; padding-left: 20px; padding-right: 20px;">
                    <div class="container" style="width: 100%; padding: 0">
                        <div class="row">
                            <div class="col" style="width: 50%">
                                <h1 class="search-bar-td">
                                    Ngày đến
                                </h1>
                                <input class="date-input" type="date" name="date_den">
                            </div>
                            <div class="col" style="width: 50%">
                                <h1 class="search-bar-td">
                                    Ngày đi
                                </h1>
                                <input class="date-input" type="date" name="date_di">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col" style="padding-left: 20px">
                    <div style="float: left; width: 70%">
                        <h1 class="search-bar-td">
                            Số phòng, số khách
                        </h1>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown-btn" type="button" id="dropdownspsk" data-bs-toggle="dropdown" aria-expanded="false">
                                Số lượng
                            </button>
                            <ul class="dropdown-menu menu-width" aria-labelledby="dropdownspsk">
                                <li>
                                    <div class="container" style="padding-top: 15px;">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Phòng</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="slphong">
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="container" style="padding-top: 15px;">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Người lớn</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="slnglon">
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="container" style="padding-top: 15px; padding-bottom: 10px; ">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Trẻ em</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="sltreem">
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div style="float: right; width: 30%">
                        <button class="btn-search-bar" type="submit" href="#">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="details-tenks">
                @Model.TENKHACHSAN
            </h1>
            <p class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </p>
            <div style="width: 100%; height: 10px">
                <div style="float: left;">
                    <div class="diemdg">@Model.DIEM</div>
                </div>
                <div style="float: left;">
                    <p class="textdanhgia">@Model.DANHGIA</p>
                </div>
            </div>
            <br />
            <p class="diachi">
                <i class="fas fa-map-marker-alt"></i>
                @Model.DIACHICUTHE
            </p>
        </div>

        <div class="col-4">
            <div style="float: left; width: 50%">
                @Html.Action("pphongtw","Home",new { maks=Model.MAKHACHSAN })
            </div>
            <div style="float: left; width: 50%">
                <a href="#chonphonglink">
                    <button class="details-chonphong">Chọn phòng</button>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6" style="height: 358px; padding-right: 2px">
            <img class="details-img-big" style="border-radius: 10px 0px 0px 10px; " src="~/Content/imgs/imgks/@Model.ANHKS1">
        </div>
        <div class="col-6" style="height: 360px; padding-left: 2px">
            <div style="width: 50%; float: left; height: 179px;">
                <img class="details-img-small padding-style-right" src="~/Content/imgs/imgks/@Model.ANHKS2">
                <img class="details-img-small padding-style-right padding-style-top" src="~/Content/imgs/imgks/@Model.ANHKS3">
            </div>
            <div style="width: 50%; float: left; height: 179px;">
                <img class="details-img-small" style="border-radius: 0px 10px 0px 0px" src="~/Content/imgs/imgks/@Model.ANHKS4">
                <img class="details-img-small padding-style-top" style="border-radius: 0px 0px 10px 0px" src="~/Content/imgs/imgks/@Model.ANHKS5">
            </div>
        </div>

    </div>

</div>

@Html.Action("tienichks", "Home", new { maks=@Model.MAKHACHSAN })


@Html.Action("ThongTinPhong","Home", new { maks=@Model.MAKHACHSAN })


