
<div class="details-kv-chonphong">
    <div class="container">
        <h1 class="details-tieude" style="padding-top: 32px" id="chonphonglink">Chọn phòng</h1>

        @foreach (var item in Model)
        {

            <br />
            <div style="background-color: white; border-radius: 20px; padding: 20px">
                <div class="row">
                    <div class="col-3">
                        <img class="details-img-phong-big" src="~/Content/imgs/imgphong/@item.ANH1" )">
                        <div style="width: 100%">
                            <div style="width: 33.33%; float: left;">
                                <img class="details-img-phong-big-small" style="padding-left: 0; border-radius: 0px 0px 0px 8px;" src="~/Content/imgs/imgphong/@item.ANH2">
                            </div>
                            <div style="width: 33.33%; float: left;">
                                <img class="details-img-phong-big-small" src="~/Content/imgs/imgphong/@item.ANH3">
                            </div>
                            <div style="width: 33.33%; float: left;">
                                <img class="details-img-phong-big-small" style="border-radius: 0px 0px 8px 0px " src="~/Content/imgs/imgphong/@item.ANH4">
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <h1 class="details-tieude">@item.TENPHONG</h1>
                        <div style="width: 100%; font-size: 14px; padding-bottom: 20px ">
                            <div style="float: left;">
                                <i class="fas fa-ruler-vertical" style="font-size:16px"></i> @item.DIENTICH
                            </div>
                            <div style="float: left; padding-left: 50px">
                                <i class="fas fa-eye" style="font-size:16px"></i> @item.QUANGCANH
                            </div>
                        </div>
                        <br />
                        <table class="details-multitable">
                            <tbody>
                                <tr class="details-multitable">
                                    <td class="details-multitable-cell" style="padding-left: 0">
                                        <p>
                                            <i class="fas fa-money-bill-wave" style="padding-right: 10px;font-size: 16px"></i>
                                            Không hỗ trợ hoàn hủy
                                        </p>
                                        <p>
                                            <i class="fas fa-utensils" style="padding-right: 10px;font-size: 16px"></i>
                                            Không bao gồm bữa sáng
                                        </p>
                                        <p>
                                            <i class="fas fa-parking" style="padding-right: 10px;font-size: 16px"></i>
                                            Bãi đậu xe tự phục vụ miễn phí
                                        </p>
                                    </td>
                                    <td class="details-multitable-cell" style="width: 15%; text-align: center;">
                                        <i class="fas fa-user-friends" style="font-size: 20px"></i>
                                        <p>
                                            x @item.SOKHACH
                                        </p>
                                    </td>
                                    <td class="details-multitable-cell" style="width: 20%; text-align: center;">
                                        <i class="fas fa-bed" style="font-size: 20px"></i>
                                        <p>
                                            @item.SOGIUONG giường @item.LOAIGIUONG
                                        </p>

                                    </td>
                                    <td class="details-multitable-cell" style="width: 30%; border-right: none; text-align: right;">
                                        <div class="details-giam" style="float: right;">-@item.GIAM %</div>
                                        <br />
                                        <div class="details-giacu">@string.Format("{0:0,0}", item.GIA)đ /đêm</div>
                                        <div class="details-giamoi" id="giamoi">@string.Format("{0:0,0}", item.GIAMOI)đ /đêm</div>

                                        <br />
                                        <a href="@Url.Action("GioHang","GioHang", new { maphong = item.MAPHONG, ngayden = item.NGAYDEN, ngaydi = item.NGAYDI})">
                                            <button class="details-chonphong">Đặt phòng</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <br />
        }
    </div>
</div>

